@import url('https://fonts.cdnfonts.com/css/circular-std-book?styles=16171,16173,16169,16167');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,body, #root, .App, .content {
  height: 100%;
}

.App {
  font-family: 'Circular Std Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding: 5%;
  color: #1F1F1F;
}

.baseline {
  display: flex;
  align-items: center;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  font-family: sans-serif;
  background-color: #fff;

  h1 {
    font-family: 'Circular Std Black', sans-serif;
    font-size: 1.6rem;
    margin: 10px 0;
  }

  p {
    color: rgba(0,0,0,0.5);
    font-size: 0.90rem;
    width: 90%;
    line-height: 1.4rem;
  }

  hr {
    border:1px solid rgba(0,0,0,0.1);
    margin: 10px 0;
  }


  ul {
    list-style-type: none;

    li {
      a {
        color: #1F1F1F;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 10px 0;
        cursor: pointer;

        .link-text {
          margin-left: 10px;
        }
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .modal-close {
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    background-color: #fff;
    color: #6320EE;
    border: 2px solid #6320EE;
    order: 1;
    outline: none;
    transition: all 0.2s ease-out;
  }

  .modal-close:hover {
    transform: rotate(360deg);
    background-color:#6320EE;
    color: #fff;
  }
}

.row-9 {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
}

.col-6 {
  flex: 60%;

  h1 {
    font-family: 'Circular Std Black', sans-serif;
    font-size: 3.5rem;
  }

  button {
    cursor: pointer;
    border: none;
    font-family: 'Circular Std Medium', sans-serif;
    background-color: #6320EE;
    font-size: 1.2rem;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px #{rgba(#6320EE, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#6320EE, .5)};
    margin-top: 5%;
    padding: 16px 32px;
    line-height: 1.2rem;
    border-radius: 24px;
    outline: none;
    color: #fff;
    box-shadow: var(--shadow);
    transform: translateY(var(--y));
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    div {
      display: flex;
      overflow: hidden;
      text-shadow: 0 1.2rem 0 #fff;
      span {
        display: block;
        backface-visibility: hidden;
        font-style: normal;
        transition: transform 0.3s ease;
        transform: translateY(var(--m));
        $i: 1;
        @while $i < 12 {
          &:nth-child(#{$i}) {
            transition-delay: $i / 20 + s;
          }
          $i: $i + 1;
        }
      }
    }
    &:hover {
      --y: var(--move-hover);
      --shadow: var(--shadow-hover);
      span {
        --m: calc(1.2rem * -1);
      }
    }
    &.reverse {
      --font-shadow: calc(1.2rem * -1);
      &:hover {
        span {
          --m: calc(1.2rem);
        }
      }
    }
  }
}

.col-4 {
  flex: 40%;
  margin-right: 10%;
}

.text-muted {
  opacity: 0.4;
  font-size: 1.1rem;
}

.headshot {
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 50%;
  padding: 5px;
  width: 500px;
}

@media screen and (max-width: 760px) {
  .col-4 {
    display: none;
  }

  .CenterModal {
    min-width: 90%;
  }
}
