@import url('https://fonts.cdnfonts.com/css/circular-std-book?styles=16171,16173,16169,16167');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

}

html,body, #root, .App, .content {
  height: 100%;
}

.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.content {
  padding: 5%;
}

.shade {
  filter: blur(4px);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0px);
  transition: all 0.5s ease-out;

  .modal {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    min-width: 20%;
    width: 40%;
    max-width: 90%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

    .baseline {
      display: flex;
      align-items: center;
    }

    .modal-close {
      cursor: pointer;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 1.2rem;
      margin-left: auto;
      background-color: #fff;
      color: #6320EE;
      border: 2px solid #6320EE;
      order: 1;
      outline: none;
      transition: all 0.3s ease-out;
    }

    .modal-close:hover {
      background-color:#6320EE;
      color: #fff;
    }

    .modal-content {
      p {
        color: rgba(0,0,0,0.5);
        font-size: 0.90rem;
        width: 90%;
        line-height: 1.4rem;
      }

      hr{
        border:1px solid rgba(0,0,0,0.1);
        margin: 10px 0;
      }
    }

    h1 {
      font-family: 'Circular Std Black', sans-serif;
      font-size: 1.6rem;
      margin: 10px 0;
    }

    ul {
      list-style-type: none;
      li {
        a{
          color: #000;
          display: flex;
          align-items: center;
          text-decoration: none;
          margin: 10px 0;

          .link-text {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.content {
  transition: all 0.3s;
}

.row-9 {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
}

.row-1 {
  height: 10%;
}

body {
  font-family: 'Circular Std Book', sans-serif;
}

.col-6 {
  flex: 60%;

  h1 {
    font-family: 'Circular Std Black', sans-serif;
    font-size: 3.5rem;
  }

  button {
    cursor: pointer;
    border: none;
    font-family: 'Circular Std Medium', sans-serif;
    background-color: #6320EE;
    font-size: 1.2rem;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px #{rgba(#6320EE, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#6320EE, .5)};
    margin-top: 5%;
    padding: 16px 32px;
    line-height: 1.2rem;
    border-radius: 24px;
    outline: none;
    color: #fff;
    box-shadow: var(--shadow);
    transform: translateY(var(--y));
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    div {
      display: flex;
      overflow: hidden;
      text-shadow: 0 1.2rem 0 #fff;
      span {
        display: block;
        backface-visibility: hidden;
        font-style: normal;
        transition: transform 0.3s ease;
        transform: translateY(var(--m));
        $i: 1;
        @while $i < 12 {
          &:nth-child(#{$i}) {
            transition-delay: $i / 20 + s;
          }
          $i: $i + 1;
        }
      }
    }
    &:hover {
      --y: var(--move-hover);
      --shadow: var(--shadow-hover);
      span {
        --m: calc(1.2rem * -1);
      }
    }
    &.reverse {
      --font-shadow: calc(1.2rem * -1);
      &:hover {
        span {
          --m: calc(1.2rem);
        }
      }
    }
  }
}

.col-4 {
  flex: 40%;
  margin-right: 10%;
}

.text-muted {
  opacity: 0.4;
  font-size: 1.1rem;
}

.headshot {
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 50%;
  padding: 5px;
  width: 500px;
}

.hide {
  transform: translateY(-2000px);
  transition: all 0.4s ease-in;
}

.music-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .col-4 {
    display: none;
  }

  .modal {
    min-width: 90% !important;
  }
}
